.vote {
  margin-top: 13px;
  //align-items: center;
  //height: 100%;

  &-question {
	//padding: px;
	//margin: 0 auto;
  }

  &-radio {
	&-container {
	  //justify-content: center;
	  //align-items: center;
	  //line-height: 15px;
	  //padding-top: 10px;
	  //width: fit-content;
	  //margin: 0 auto;
	}

	&-group {
	  //margin: 0 auto;
	}

	&-button {
	  margin-right: 10px;

	  &-label {
		//margin-left: -4px;
	  }
	}
  }

  &-validate {
	text-align: end;
  }
}
