<mat-dialog-content class="mat-typography">
    <h2 mat-dialog-title>Bienvenue dans votre application TIMES Web !</h2>

    <h3 class="mb-4">Ici s’affichent les messages diffusés par votre DR ou par le National.</h3>

    <h3 class="mb-0">Pour un suivi quantitatif utilisez la vue <b>Inventaire</b></h3>
    <p><i class="fas fa-arrow-right"></i> Le <b>compteur</b> affiché à droite du nom de la vue correspond au <u>nombre total de MS/EPi de votre inventaire</u>.</p>

    <h3 class="mb-0">Pour un suivi qualitatif utilisez la vue <b>Etat MS/EPi</b></h3>
    <p><i class="fas fa-arrow-right"></i> Le <b>compteur</b> affiché à droite du nom de la vue correspond au <u>nombre de MS/EPi qui ne sont pas affectés et en service</u>.</p>

    <h3 class="mb-0">Pour un suivi réglementaire utilisez la vue <b>Contrôle</b></h3>
    <p><i class="fas fa-arrow-right"></i> Le <b>compteur</b> affiché à droite du nom de la vue correspond au <u>nombre de MS/EPi dont la date de prochain contrôle est dépassée</u>.</p>

    <h3 class="mb-0">Pour consulter ou acquitter les signalements utilisez la vue <b>Signalement</b></h3>
    <p><i class="fas fa-arrow-right"></i> Le <b>compteur</b> affiché à droite du nom de la vue correspond au <u>nombre de MS/EPi avec au moins un signalement non acquitté</u>.</p>

    <h2 mat-dialog-title>Comment prendre en main de votre application TIMES Web ?</h2>

    <h3>Utilisez  <b>l’environnement de démonstration.</b></h3>
    <h3>Questionnez le  <b>correspondant TIMES</b> de votre DR.</h3>
    <h3>Sollicitez le <b>Support TIMES</b> en cas de difficulté …</h3>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn-times">Fermer la fenêtre</button>
</mat-dialog-actions>
