<div class="sideMenu">
  <div class="sections">
    <div class="rowSelection" routerLink="not-found" routerLinkActive="selected">
      <button class="w-100 radius" (click)="createSurvey()" onClick="" color="primary" mat-raised-button>
        <div class="d-flex">
          <fa-icon [icon]="faPlus" class="icon"></fa-icon>
          <div>créer un sondage</div>
        </div>
      </button>
    </div>
  </div>
  <div class="sections">
    <!-- me concernant -->
    <div class="rowSelection" routerLink="not-found" routerLinkActive="selected">
      <div class="itemLine icon">
        <fa-icon [icon]="faPoll" class="icon"></fa-icon>
      </div>
      <div class="itemLine center text">sondage que je participe</div>
      <div class="itemLine">10</div>
    </div>

    <!-- mes sondages -->
    <div class="rowSelection" routerLink="surveys" routerLinkActive="my-survey">
      <div class="itemLine icon">
        <fa-icon [icon]="faBriefCase" class="icon"></fa-icon>
      </div>
      <div class="itemLine center text">mes sondages preferer</div>
      <div class="itemLine">10</div>
    </div>


    <!-- sondage public -->
    <div class="rowSelection" routerLink="surveys" routerLinkActive="public">
      <div class="itemLine icon">
        <fa-icon [icon]="faeuro" class="icon"></fa-icon>
      </div>
      <div class="itemLine center text">sondage public</div>
      <div class="itemLine">10</div>
    </div>

    <!-- SIGNALEMENT -->
    <div class="rowSelection" routerLink="control" routerLinkActive="selected">
      <div class="itemLine icon">
      </div>
      <div class="itemLine center text">------------</div>
    </div>

  </div>

  <div class="sections center">
    <div class="rowSelection">
      <div class="itemLine icon">
        <fa-icon [icon]="faTrash" class="icon"></fa-icon>
      </div>
      <div class="itemLine center text">sondage expirés</div>
      <div class="itemLine">10</div>
      <i class="fas fa-cog fa-lg"></i>
    </div>
  </div>

  <div class="sections">
    <div *appRight="['ADM_ACC']" class="rowSelection" routerLink="admin" routerLinkActive="selected">
      <div class="itemLine icon">
        <i class="fas fa-cog fa-lg"></i>
      </div>
      <div class="itemLine center text">Administration</div>
    </div>
  </div>
</div>
