@import "src/theme.scss";

.sideMenu {
  width: inherit;
  height: inherit;
  min-width: 280px;
  padding: 10px;
  overflow: auto;

  .header {
    margin: 10px 0;

    &-photo {
      img {
        border-radius: 25px;
        height: 40px;
        width: 40px;
        object-fit: cover;
      }
    }

    .profil {
      max-width: 140px;

      &-name {
        font-size: medium;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-email {
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .radius {
    border-radius: 25px;
  }

  .sections {
    *:focus {
      outline: none;
    }

    .icon {
      text-align: center;
      width: 30px;
    }

    .item {
      cursor: pointer;
      padding: 10px 16px;
      margin: 0 -10px;
    }

    .item:hover {
      color: mat-color($primary, 200);
    }

    .itemSelected {
      border-right: solid 5px mat-color($primary, 200);
      color: mat-color($primary, 200);
    }
  }
}

