.sideMenu {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;

  .center {
    flex-grow: 1;
  }

  .header{
    margin: 10px 0;
  }

  .sections {
    *:focus {
      outline: none;
    }

    .rowSelection {
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 0.4em 0 0.4em 0;

      .itemLine {
        display: flex;
        flex-direction: column;
      }

      .icon {
        text-align: center;
        width: 30px;
      }

      .text {
        margin-left: 0.8em;
      }

      .twoElementLayout {
        margin-left: -3em;
      }

      .hide {
        display: none;
      }
    }

    .rowSelection:hover, .selected {
      color: blue;
      background-color: white;
      border-radius: 15px 0 0 15px;
      cursor: pointer;
    }
  }
  .radius{
    border-radius: 25px;
  }
  .profil {
    &-photo {
      img {
        border-radius: 25px;
        height: 40px;
        width: 40px;
        object-fit: cover;
      }
    }

    &-name {
      font-size: medium;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-email {
      font-size: smaller;
      color: gray;
    }
  }
}

