<div class="sideMenu d-flex flex-column">
  <div class="sections header d-flex flex-row">
    <div class="header-photo mr-2">
      <img [src]=user.photo alt="">
    </div>
    <div class="profil">
      <div class="profil-name text-capitalize font-weight-bold">{{user.username}}</div>
      <div class="profil-email">{{user.email}}</div>
    </div>
    <button (click)="onClick('logout')" aria-label="logout" class="float-right" mat-icon-button>
      <mat-icon color="primary">logout</mat-icon>
    </button>
    <button (click)="onClick('settings')" aria-label="settings" class="float-right" mat-icon-button>
      <mat-icon color="primary">settings</mat-icon>
    </button>
  </div>
  <div class="sections">
    <button (click)="createSurvey()" class="w-100 d-flex flex-row radius" color="primary" mat-raised-button>
      <div class="font-size2"><fa-icon [icon]="faPlus" class="icon mr-1"></fa-icon> créer un sondage</div>
    </button>
  </div>
  <div class="sections">
    <!-- me concernant -->
    <div class="item d-flex flex-row" routerLink="surveys-participate" routerLinkActive="itemSelected">
      <fa-icon [icon]="faPoll" class="icon" size="lg"></fa-icon>
      <div class="flex-grow-1 ml-1 font-size2">sondage que je participe</div>
      <div class="number">10</div>
    </div>

    <!-- mes sondages -->
    <div class="item d-flex flex-row" routerLink="surveys-favorites" routerLinkActive="itemSelected">
      <fa-icon [icon]="faHeart" class="icon" size="lg"></fa-icon>
      <div class="flex-grow-1 ml-1 font-size2">mes sondages préférés</div>
      <div class="number">10</div>
    </div>

    <!-- sondage public -->
    <div class="item d-flex flex-row" routerLink="surveys-public" routerLinkActive="itemSelected">
      <fa-icon [icon]="faeuro" class="icon" size="lg"></fa-icon>
      <div class="flex-grow-1 ml-1 font-size2">sondage public</div>
      <div class="">10</div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="sections">
    <div class="item d-flex flex-row">
      <fa-icon [icon]="faTrash" class="icon" size="lg"></fa-icon>
      <div class="flex-grow-1 ml-1">sondage expirés</div>
      <div class="number">10</div>
    </div>
  </div>

  <div class="sections">
    <div *appRight="['ADM_ACC']" class="rowSelection" routerLink="admin" routerLinkActive="selected">
      <fa-icon [icon]="faCog" class="icon" size="lg"></fa-icon>
      <div class="itemLine center text">Administration</div>
    </div>
  </div>
</div>
