<div class="sideMenu" [ngClass]="collapse ? 'sideMenu-collapse':'sideMenu-exp'">
  <div class="sections">
    <!-- INVENTAIRE -->
    <div class="rowSelection" routerLinkActive="selected" routerLink="inventaire">
      <div class="itemLine icon">
        <fa-icon [icon]="faBriefCase" class="icon"></fa-icon>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">mes sondages</div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine'">10</div>
    </div>

    <!-- CYCLE -->
    <div class="rowSelection" routerLinkActive="selected" routerLink="etat">
      <div class="itemLine icon">
        <fa-icon [icon]="faPoll" class="icon"></fa-icon>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">reste à voter</div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine'">10</div>
    </div>

    <!-- CONTROLE -->
    <div class="rowSelection" routerLinkActive="selected" routerLink="control">
      <div class="itemLine icon">
        <i class="fas times-alerte fa-lg"></i>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">----</div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine'">10</div>
    </div>

    <!-- SIGNALEMENT -->
    <div class="rowSelection" routerLinkActive="selected" routerLink="signalement">
      <div class="itemLine icon">
        <fa-icon [icon]="faeuro" class="icon"></fa-icon>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">Sondage Public</div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine'">10</div>
    </div>
  </div>

  <div class="sections center">
    <div class="rowSelection">
      <div class="itemLine icon">
        <i class="fas times-filtre fa-lg"></i>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">Filtres personnalisés</div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine'">
        <i class="fas fa-cog fa-lg"></i>
      </div>
    </div>
  </div>

  <div class="sections">
    <div *appRight="['ADM_ACC']" class="rowSelection" routerLinkActive="selected" routerLink="admin">
      <div class="itemLine icon">
        <i class="fas fa-cog fa-lg"></i>
      </div>
      <div [ngClass]="collapse ? 'hide' : 'itemLine center text'">Administration</div>
    </div>
  </div>
</div>
