/**
  ARCHITECTURE DE L'APPLICATION
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### DASHBOARD ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------

@import "src/theme.scss";

.main {
  background: mat-color($accent, 50);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.top-bar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  z-index:2;
}

.content {
  flex: 1;
}

.dashboard {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sideBar {
  height: 100%;
  min-width: 280px;
  max-width: 280px;
  padding: 10px;
  width: 280px;
  z-index: 2;
}
