/**
  ARCHITECTURE DE L'APPLICATION
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### DASHBOARD ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------

.main {
  background: #edf1f7;
  width: 100%;
  height: 100%;
}

.dashboard {
  padding: 25px;
}

.sideBar {
  height: 100%;
  box-shadow: 0.2em 0 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
