/**
  ARCHITECTURE DE L'APPLICATION TIMES WEB
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### COMPONENT ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------

.full{
  width: 100%;
  height: calc(100% - 64px); // -64px => of .header
}
.sideBar{
  width: 250px;
  box-shadow: 0.2em 0 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
