/**
  ARCHITECTURE DE L'APPLICATION
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### DASHBOARD ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------
@import "src/theme.scss";

.main {
  background: mat-color($accent, 50);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.top-bar{

}
.content{
 flex: 1;
}

.dashboard {
  background: #a7a7a7;
}

.sideBar {
  height: 100%;
  min-width: 300px;
  padding: 10px;
  width: 300px;
  //transition: all 0.5s ease-out;
  //box-shadow: gray 0px 0px 5px 1px;
  z-index: 2;
}
