/**
  ARCHITECTURE DE L'APPLICATION
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### DASHBOARD ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------
@import "src/theme.scss";

.main {
  background: mat-color($accent, 50);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.top-bar{
  //max-height: 56px;
}

.max {
  height: calc(100% - 64px); // -56px for the top bar
  width: 100%;
}

.dashboard {
  background: #C8C9C7;
}

.sideBar {
  height: 100%;
  min-width: 330px;
  padding: 10px;
  width: 330px;
  transition: all 0.5s ease-out;
  box-shadow: gray 0px 0px 5px 1px;
  z-index: 2;

  &-collapsed {
    width: 100px;
    min-width: 100px;
  }

  &-exp {
    min-width: 250px;
    width: 250px;
  }
}
