/**
  ARCHITECTURE DE L'APPLICATION
 */

//  $$$$$$$$$$$$$$$ TOP-BAR $$$$$$$$$$$$$$$$$
//  | S |####################################
//  | I |####################################
//  | D |####################################
//  | E |########### DASHBOARD ##############
//  | - |####################################
//  | B |####################################
//  | A |####################################
//  | R |---------- FOOTER ------------------
@import "src/theme.scss";

.main {
  background: mat-color($accent, 50);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.max {
  height: calc(100% - 64px); // -64px for the top bar
  width: 100%;
}

.dashboard {
  background: #C8C9C7;
}

.sideBar {
  height: 100%;
  min-width: 330px;
  padding: 10px;
  width: 330px;
  box-shadow: 0.2em 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out;

  &-collapsed {
    width: 100px;
    min-width: 100px;
  }

  &-exp {
    min-width: 250px;
    width: 250px;
  }
}
