.surveys {

}

.survey {
  //max-height: 450px;
  margin: 0px 10px 20px 10px;
  max-width: 400px;
  min-width: 400px;

  .profil {
    &-photo {
      img {
        border-radius: 25px;
        height: 40px;
        width: 40px;
      }
    }

    &-name {
      font-size: medium;
      white-space: nowrap;
      //line-break: loose;
      width: 200px;
      //height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-date {
      font-size: smaller;
      color: gray;
    }
  }

  .image {
    margin-left: -16px;
    margin-right: -16px;
    min-height: 266px;
    max-height: 266px;
    max-width: inherit;
    min-width: inherit;
    overflow: hidden;

    img {
      height: inherit;
      width: inherit;
    }
  }

  .texts {
    margin-top: 15px;
    margin-bottom: 15px;
    height: inherit;

    &-title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    &-tags {
      font-size: 10px;
      color: darkgray;
    }

    &-slogan {
      font-size: small;
      flex-grow: 1;
      color: gray;
    }

    .actions {
      margin: 15px;

      .icon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}
