.candidate {
  padding: 16px;
  max-width: 1400px;
  margin: 0 auto;

  mat-card {
    margin-bottom: 16px;
  //  min-width: 300px;
  //  max-width: 1000px;
  }
  //
  &-image {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  .comments {
    margin-top: 16px;
  }
}
