.surveys {
  .survey {
    margin: 0px 10px 20px 10px;
    max-width: 400px;
    min-width: 300px;

    .profil {
      &-photo {
        img {
          border-radius: 25px;
          height: 40px;
          width: 40px;
          object-fit: cover;
        }
      }

      &-name {
        font-size: medium;
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-date {
        font-size: smaller;
        color: gray;
      }
    }

    .image {
      margin-left: -16px;
      margin-right: -16px;
      min-height: 266px;
      max-height: 266px;
      max-width: inherit;
      min-width: inherit;
      overflow: hidden;

      img {
        height: 266px;
        width: 400px;
        object-fit: cover;
      }
    }

    .texts {
      margin-top: 15px;
      margin-bottom: 15px;
      height: inherit;

      &-title {
        font-size: 20px;
        margin-bottom: 5px;
      }

      &-tags {
        font-size: 10px;
        color: gray;
      }

      &-slogan {
        font-size: small;
        flex-grow: 1;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    .actions {
      line-height: 40px;
    }
  }
}
