.survey {
  //.backBanner {
  //  z-index: 2;
  //  height: 60px;
  //  position: sticky;
  //  top: 0;
  //  background: white;
  //  box-shadow: gray 0px 1px 3px;
  //  color: black;
  //  text-align: center;
  //  line-height: 60px;
  //  font-size: 33px;
  //}

  .header {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 200px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: gray 0px 1px 3px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    &-top {
      padding: 20px;
    }

    &-title {
      text-transform: uppercase;
      height: 30px;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
    }

    &-author {
      text-align: end;
      width:250px;
      img {
        border: solid 2px white;
        margin-left: 10px;
        width: 40px;
        height: 40px;
      }
      &-name::first-letter {
        text-transform: uppercase;
      }
      &-date::first-letter {
        text-transform: uppercase;
      }

    }

    &-descr {
      max-height: 170px;
      overflow: auto;
      text-align: left;
      position: absolute;
      float: left;
      bottom: 0;
      margin: 20px;
    }

    &-action1 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 4;
    }
    &-action2 {
      position: absolute;
      bottom: -40px;
      right: 0;
      z-index: 4;
    }
  }

  .candidate {
    height: 260px;
    max-height: 500px;
    max-width: 732px;
    margin-bottom: 15px;
    margin-left: 15px;

    &-image {
      margin-left: -16px;
      margin-top: -16px;
      margin-right: 16px;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 25px;
      margin-bottom: 5px;
    }

    &-descr {
      font-size: small;
      color: gray;
    }

    &-score {
      width: 100px;
      height: 100px;
      text-align: center;
      border: solid 1px gray;
      margin-bottom: 10px;
      line-height: 100px;
      font-size: 35px;
    }

  }
}

