.survey {
  .backBanner {
    z-index: 2;
    height: 60px;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: gray 0px 1px 3px;
    color: black;
    text-align: center;
    line-height: 60px;
    font-size: 33px;
    text-transform: capitalize;
  }

  .header {
    margin-top: -60px;
    z-index: 3;
    height: 250px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: gray 0px 1px 3px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    &-top {
      padding: 20px;
    }

    &-title {
      text-transform: uppercase;
      height: 30px;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
    }

    &-author {
      text-align: end;
      width:250px;
      img {
        margin-left: 10px;
        width: 40px;
        height: 40px;
      }
      &-name::first-letter {
        text-transform: uppercase;
      }
      &-date::first-letter {
        text-transform: uppercase;
      }

    }

    &-descr {
      height: 170px;
      text-overflow: ellipsis;
      overflow: auto;
      text-align: left;

    }

    &-action {
      position: sticky;
      top:0;
      margin-top: -20px;
    }
  }

  .candidate {
    height: 400px;
    max-height: 500px;
    max-width: 732px;
    margin-bottom: 30px;

    .image {
      img {
        width: 200px;
        height: 200px;
      }
    }

    .title {
      font-size: 25px;
      margin-bottom: 5px;
    }

    .descr {
      font-size: small;
    }

  }
}

