.survey {
  .header {
    &-photo {
      height: 100px;
      img{
        height: 100px;
      }
    }
    &-title{
      height: 30px;
      z-index: 2;
      position: sticky;
      top: 0;
      background: white;
      margin-bottom: 15px;
      box-shadow: gray 1px 1px 1px;
    }
  }

  .candidate {
    height: 400px;
    max-height: 500px;
    max-width: 732px;
    margin-bottom: 30px;

    .image {
      img {
        width: 200px;
        height: 200px;
      }
    }

    .title {
      font-size: 25px;
      margin-bottom: 5px;
    }

    .descr {
      font-size: small;
    }

  }
}

