.survey {
  .mat-draw-chart {
    width: 390px;
  }

  .backBanner {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: gray 0px 1px 3px;
    height: 96px;
    min-height: 96px;
    max-height: 96px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 200px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: gray 0px 1px 3px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    &-mini {
      z-index: 3;
      height: 200px;
      margin-bottom: 20px;
      background-size: cover;
      box-shadow: gray 0px 1px 3px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      margin-top: -96px;
    }

    &-top {
      padding: 20px;
    }

    &-title {
      text-transform: uppercase;
      height: 30px;
      line-height: 40px;
      font-weight: bold;

      &-mini {
        text-transform: uppercase;
        line-height: 40px;
        font-weight: bold;
      }
    }

    &-author {
      text-align: end;
      min-width: 250px;

      img {
        border: solid 2px white;
        width: 40px;
        height: 40px;
      }
    }

    &-descr {
      max-height: 170px;
      overflow: auto;
      text-align: left;
      position: absolute;
      float: left;
      bottom: 0;
      margin: 20px;
    }

    &-action1 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 4;
      border-radius: 25px 0px 0px 25px;
    }

    &-action2 {
      position: absolute;
      bottom: -40px;
      right: 0;
      z-index: 4;
    }

  }

  .candidate {
    max-width: 800px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

    &-header {
      margin-left: -16px;
      margin-top: -16px;

      &-mini {
        margin-right: -16px;
      }

      &-image {
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          padding: 16px 0 16px 16px;
        }
      }

      &-title {
        margin-bottom: 5px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;

        &-mini {
          margin-bottom: 5px;
          margin-top: 16px;
        }
      }

      &-descr {
        margin-left: 16px;
        margin-right: 16px;
        color: gray;
        max-height: 158px;
        overflow: auto;

        &-mini {
          color: gray;
          max-height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      &-score {
        width: 100px;
        height: 100px;
        text-align: center;
        border: solid 4px gray;
        margin-bottom: 10px;
        line-height: 100px;
      }

      &-action {
        margin-top: 16px;
        width: 100px;
      }
    }

    .votes {
      margin-top: 13px;

      &-question {
        padding-top: 9px;
        margin: 0 auto;
      }

      &-radio {
        &-container {
          line-height: 15px;
          padding-top: 10px;
          width: fit-content;
          margin: 0 auto;
        }

        &-group {
          margin: 0 auto;
        }

        &-button {
          margin-right: 10px;

          &-label {
            margin-left: -4px;
          }
        }
      }
    }
  }
}

