<div class="row justify-content-center">
  <div *ngFor="let candidate of candidates"
       class="col-12 survey">
    <mat-card class="h-100 w-100">
      <div class="d-flex flex-row">
        <div class="image"><img alt="" [src]=candidate.images>
        </div>
        <div class="flex-grow-1 topCenter">
          <div class="title">{{candidate.title}}</div>
          <div class="descr">{{candidate.description}}</div>
        </div>
        <div class="topRight">
          la zegzedvsd zefGROSSE note
        </div>
      </div>

    </mat-card>
  </div>
</div>
