@import "../node_modules/@angular/material/theming";
@include mat-core();

$mat-lo-primary: (50: #EEF3F4, 100:#99C1CC, 200:#006580, 300:#003B53, contrast: (
  50: $black-87-opacity,
  100: $black-87-opacity,
  200: white,
  300: white,)
);
$mat-lo-secondary: (50: #f8f8f8, 100:#707070, 200:#4A4F54, 300:#22272B, contrast: (
  50: $black-87-opacity,
  100: linear-gradient(to right bottom, #1976D2, #6200EA),
  200: white,
  300: white,)
);
$mat-lo-warning: (50: #FFF5E7, 100:#FFCF51, 200:#FF9E18, 300:#B95E04, contrast: (
  50: $black-87-opacity,
  100: $black-87-opacity,
  200: white,
  300: white,)
);
$mat-lo-danger: (50: #FFEBEE, 100:#FF605A, 200:#D22630, 300:#800008, contrast: (
  50: $black-87-opacity,
  100: white,
  200: white,
  300: white,)
);

$primary: mat-palette($mat-lo-primary, 200);
$accent: mat-palette($mat-lo-secondary, 200);
$warn: mat-palette($mat-lo-warning, 200);
$danger: mat-palette($mat-lo-danger, 200);

$theme: mat-light-theme($primary, $accent, $warn);
//$lo-dark-theme: mat-dark-theme($primary,$accent,$warn);

@include angular-material-theme($theme);

//.alternative {
//  $liquid-primary: mat-palette($mat-amber, 800);
//  $liquid-accent: mat-palette($mat-light-green, 800);
//  $liquid-warn: mat-palette($mat-red);
//  $liquid-theme: mat-light-theme($liquid-primary, $liquid-accent, $liquid-warn);
//  @include angular-material-theme($liquid-theme);
//}
